{% extends 'blog/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    <a href="{% url 'blog:article_create' %}" class="add-new-article-btn">Add New Article</a>
    <ul>
        {% for article in articles %}
        <li>
            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
            <a href="{% url 'blog:article_update' article.pk %}">Edit</a>
            <a href="{% url 'blog:article_delete' article.pk %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
